<!-- Footer -->
<footer class="footer fixed-bottom container">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 pt-4 pb-2">
                <div class="col-md-8 offset-md-2 text-center">
                    <!-- Facebook -->
                    <a href="https://www.facebook.com/popescu.emanuel24" class="col-md-2 offset-md-1 ">
                        <i class="fa fa-facebook-square"></i>
                    </a>

                    <!-- Twitter -->
                    <a href="https://twitter.com/empopescu24" class="col-md-2 offset-md-1 ">
                        <i class="fa fa-twitter"></i>
                    </a>

                    <!-- Google +-->
                    <a href="#" class="col-md-2 offset-md-1 " routerLink="/register">
                        <i class="fa fa-google-plus"></i>
                    </a>

                    <!--Linkedin -->
                    <a href="#" class="col-md-2 offset-md-1 " routerLink="/register">
                        <i class="fa fa-linkedin"></i>
                    </a>

                    <!--Instagram-->
                    <a href="#" class="col-md-2 offset-md-1 " routerLink="/register">
                        <i class="fa fa-instagram"></i>
                    </a>

                    <!--Pinterest-->
                    <a href="#" class="col-md-2 offset-md-1 " routerLink="/register">
                        <i class="fa fa-pinterest"></i>
                    </a>
                </div>
            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">Universitatea din Bucuresti © 2020 Copyright:
        <a href="https://github.com/popescu-emanuel"> popescu-emanuel </a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
