<div class="row">
    <div class="col-md offset-md-1">
        <img src="assets/image/universitate/sigla-fmi-1.png" alt="logo-mate-info" class="img-fluid"/>
    </div>

    <div class="col-md offset-md-1">
        <img src="assets/image/universitate/Logo-UB.jpg" alt="logo-unibuc" class="img-fluid"/>
    </div>

</div>

<div class="row" style="min-height: 50px">
    <div class="col md offset-md-1">
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md offset-md-1 text-center">
        <h2 class="text-roboto">Planificarea si automatizarea procesului de dezvoltare al unei aplicatii de stocare securizata in cloud</h2>
    </div>
</div>

<div class="row" style="min-height: 50px">
    <div class="col-md offset-md-1">
        <hr>
    </div>
</div>

<div class="row">
    <div class="col-md offset-md-1">
        <p>Profil: Inginerie Software</p>
        <p>Profesor coordonator: Dr. Lect. Iulia Banu Demergian</p>
        <p>Nume: Ioan-Emanuel Popescu</p>
    </div>

</div>
