<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<!-- Load environment variables -->

<title>App</title>

<app-navbar ></app-navbar>

<!-- main app container -->
<!--[ngStyle]="{'background-image': 'url(' + 'assets/image/background/page-background-3.jpg' + ')'}"-->
<div class="container-fluid" >
    <div class="row" style="min-height: 50px"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
